<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Shaboozey</string>
	<string>Lady Gaga &amp; Bruno Mars</string>
	<string>Billie Eilish</string>
	<string>Sabrina Carpenter</string>
	<string>Teddy Swims</string>
	<string>Post Malone Featuring Morgan Wallen</string>
	<string>Sabrina Carpenter</string>
	<string>Benson Boone</string>
	<string>Morgan Wallen</string>
	<string>Tyler, The Creator Featuring GloRilla, SexyyRed &amp; Lil Wayne</string>
</array>
</plist>
