<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>A Bar Song (Tipsy)</string>
	<string>Uptown Funk</string>
	<string>bad guy</string>
	<string>Nonsense</string>
	<string>Lose Control</string>
	<string>Wow.</string>
	<string>Nonsense</string>
	<string>Ghost Town</string>
	<string>Wasted On You</string>
	<string>WUSYANAME</string>
</array>
</plist>
